extends layouts/main
include mixins/videoBlock

block content
    .videos
        each potato in videos
            +videoBlock({
                id : potato.id,
                title : potato.title,
                views : potato.views,
                videoFile : potato.videoFile
            })