extends layouts/main
include mixins/videoBlock

block content
    .serach__header
        h3 Searching for #{searchingBy}
    .serach__videos
        each item in videos
            +videoBlock({
                title:item.titile,
                views:item.views,
                videoFile:item.viedoFile
            })